name: Terraform

permissions:
  id-token: write
  contents: read

on:
  workflow_dispatch:

concurrency:
  group: terraform
  cancel-in-progress: true

jobs:
  terraform:
    runs-on: ubuntu-latest
    env:
      AWS_REGION: ap-northeast-1
    defaults:
      run:
        working-directory: terraform/envs/stg
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.12.2

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.IAM_ROLE_ARN }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Terraform initialize
        run: terraform init

      - name: Terraform format
        run: terraform fmt -check -recursive -diff

      - name: Terraform validate
        run: terraform validate -no-color

      - name: Terraform plan
        run: terraform plan -out=tfplan

      - name: Terraform apply
        run: terraform apply -auto-approve tfplan

      - name: Get outputs
        run: |
          keys=(rds_endpoint db_name db_username rds_ssm_name stor_bucket_id env_bucket_id)
          for key in "${keys[@]}"; do
            val="$(terraform output -raw "$key")"
            echo "::add-mask::$val"
            name="$(echo "$key" | tr 'a-z' 'A-Z')"
            echo "${name}=$val" >> "$GITHUB_ENV"
          done

      - name: Get DB password from SSM
        id: dbpw
        run: |
          PW=$(aws ssm get-parameter \
            --name "$RDS_SSM_NAME" \
            --with-decryption \
            --query 'Parameter.Value' \
            --output text)
          echo "::add-mask::$PW"
          echo "DB_PASSWORD=$PW" >> $GITHUB_ENV

      - name: Build env file for container
        run: |
          cat > .env <<EOF
          DB_HOST=$RDS_ENDPOINT
          DB_PORT=5432
          DB_NAME=$DB_NAME
          DB_USERNAME=$DB_USERNAME
          DB_PASSWORD=$DB_PASSWORD
          AWS_REGION=$AWS_REGION
          AWS_S3_BUCKET=$STOR_BUCKET_ID
          API_HOST=$API_SUB_DOMAIN.$DOMAIN_NAME
          API_PROTOCOL=https
          RAILS_URL=http://$SERVICE_CLOUD_MAP_RAILS.$PRIVATE_DNS_ID:3001
          SENDGRID_API_KEY=${{ secrets.SENDGRID_API_KEY }}
          EOF

      - name: Upload env file to S3
        run: |
          aws s3 cp .env \
          s3://$ENV_BUCKET_ID/.env \
          --sse AES256
