name: Terraform

permissions:
  id-token: write
  contents: read

on:
  workflow_dispatch:

concurrency:
  group: terraform
  cancel-in-progress: true

jobs:
  terraform:
    runs-on: ubuntu-latest
    env:
      AWS_REGION: ap-northeast-1
    defaults:
      run:
        working-directory: terraform/envs/stg
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.12.2

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.IAM_ROLE_ARN }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Terraform initialize
        run: terraform init

      - name: Terraform format
        run: terraform fmt -check -recursive -diff

      - name: Terraform validate
        run: terraform validate -no-color

      - name: Terraform plan
        run: terraform plan -out=tfplan

      - name: Terraform apply
        run: terraform apply -auto-approve tfplan

      - name: Get outputs
        id: tf_outputs
        run: |
          echo "RDS_ENDPOINT=$(terraform output -raw rds_endpoint)"                       >> $GITHUB_ENV
          echo "DB_NAME=$(terraform output -raw db_name)"                                 >> $GITHUB_ENV
          echo "DB_USERNAME=$(terraform output -raw db_username)"                         >> $GITHUB_ENV
          echo "RDS_SSM_NAME=$(terraform output -raw rds_ssm_name)"                       >> $GITHUB_ENV
          echo "STOR_BUCKET_ID=$(terraform output -raw stor_bucket_id)"                   >> $GITHUB_ENV
          echo "ENV_BUCKET_ID=$(terraform output -raw env_bucket_id)"                     >> $GITHUB_ENV
          echo "NEXT_ECR_URL=$(terraform output -raw next_ecr_url)"                       >> $GITHUB_ENV
          echo "RAILS_ECR_URL=$(terraform output -raw rails_ecr_url)"                     >> $GITHUB_ENV
          echo "CLUSTER_NAME=$(terraform output -raw cluster_name)"                       >> $GITHUB_ENV
          echo "NEXT_SERVICE_NAME=$(terraform output -raw next_service_name)"             >> $GITHUB_ENV
          echo "RAILS_SERVICE_NAME=$(terraform output -raw rails_service_name)"           >> $GITHUB_ENV
          echo "NEXT_TASK_DEF_ARN=$(terraform output -raw next_task_def_arn)"             >> $GITHUB_ENV
          echo "RAILS_TASK_DEF_ARN=$(terraform output -raw rails_task_def_arn)"           >> $GITHUB_ENV
          echo "RAILS_CONTAINER_NAME=$(terraform output -raw rails_container_name)"       >> $GITHUB_ENV
          echo "RAILS_SUBNET_ID=$(terraform output -raw rails_subnet_id)"                 >> $GITHUB_ENV
          echo "RAILS_SG_ID=$(terraform output -raw rails_sg_id)"                         >> $GITHUB_ENV
          echo "API_SUB_DOMAIN=$(terraform output -raw api_sub_domain)"                   >> $GITHUB_ENV
          echo "DOMAIN_NAME=$(terraform output -raw domain_name)"                         >> $GITHUB_ENV
          echo "SERVICE_CLOUD_MAP_RAILS=$(terraform output -raw service_cloud_map_rails)" >> $GITHUB_ENV
          echo "PRIVATE_DNS_ID=$(terraform output -raw private_dns_id)"                   >> $GITHUB_ENV

      - name: Get DB password from SSM
        id: dbpw
        run: |
          PW=$(aws ssm get-parameter \
            --name "$RDS_SSM_NAME" \
            --with-decryption \
            --query 'Parameter.Value' \
            --output text)
          echo "::add-mask::$PW"
          echo "DB_PASSWORD=$PW" >> $GITHUB_OUTPUT

      - name: Build env file for container
        run: |
          cat > .env <<EOF
          DB_HOST=$RDS_ENDPOINT
          DB_PORT=5432
          DB_NAME=$DB_NAME
          DB_USERNAME=$DB_USERNAME
          DB_PASSWORD=$DB_PASSWORD
          AWS_REGION=${{ env.AWS_REGION }}
          AWS_S3_BUCKET=$STOR_BUCKET_ID
          API_HOST=$API_SUB_DOMAIN.$DOMAIN_NAME
          API_PROTOCOL=https
          INITIAL_USER_NAME=${{ secrets.INITIAL_USER_NAME  }}
          INITIAL_USER_PASSWORD=${{ secrets.INITIAL_USER_PASSWORD }}
          RAILS_URL=http://$SERVICE_CLOUD_MAP_RAILS.$PRIVATE_DNS_ID:3001
          SENDGRID_API_KEY=${{ secrets.SENDGRID_API_KEY }}
          EOF

      - name: Upload env file to S3
        run: |
          aws s3 cp .env \
          s3://$ENV_BUCKET_ID/.env \
          --sse AES256
